.footer{
    display: flex;
    background-color: hsl(235, 24%, 19%);
    height: 70px;
    justify-content: center;
    align-items: center;
    color: lightgray;
}
.center {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    margin-right: 100px;
    justify-content: right;
}
